.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#333,#fff);
  }
  
  .loginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
   
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    
    /* background-image: linear-gradient(#0ce768,#1b580c); */
    
  }
  
  .loginFormContainer h2 {
    margin-bottom: 20px;
    font: "fjalla one";
    font-size: large;
    font-weight: bold;
    color: #333;
  }
  
  .loginFormContainer div {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .loginFormContainer label {
    font-weight: bold;
    margin-bottom: 5px;
    color:#333;
    font: 1em times;
    
  }
  
  .loginFormContainer input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 1em times;
  }
  
  .loginFormContainer button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self:center;
    
  }
  
  .loginFormContainer button:hover {
    background-color: #333;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }

  .logo{
    height: 70px;
    
    align-items: center;
  }
  