.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    color: #333;
    padding: 0 20px;

  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 20px;
  }
  
  .navbar-button {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .navbar-button:hover {
    text-decoration: underline;
    
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .logout-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #fff;
    color: #333;
  }
  