.App {
  text-align: left;
  display: flex;
  min-height: 100vh;
  /* align-items: center; */
  justify-content: center;
  background-color: #FFD9D9;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  /* background-color: wheat; */

}


.auth-FormContainter, .LoginForm, .ResiterForm{
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  padding: 1rem;
  transform: translateX(190px);
  /* margin-left: 31.665%; */
  /* width: calc(26.67% - 1em);; */
}

/* .ResiterForm,.LoginForm{
  padding: 1rem;
  margin-left: 1.665%;
} */

.LoginForm{
  padding: 1rem;
  /* margin-left: 50%; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-row-gap: 1rem;
  align-items: right;
  transform: translateX(-0px);

}
.ResiterForm{
  padding: 1rem;
  /* margin-left: 50%; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  transform: translateX(-0px);  
}

.auth-FormContainter{
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
}

label{
  grid-column: 1;
  flex-basis: 1;
  text-align: left;
  padding: 0.25rem 0;
  font-family: "Poppins", sans-serif;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  background-color: #DE9898;
  border-radius: 10px;
  grid-column: 2 / span 3;

}

button{
  border: none;
  background-color: #DE9898;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: "Poppins", sans-serif;
}

.LoginForm button {
  transform: translateX(200px);
  width: 130px;
  height: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);  
}

button {
  transform: translateX(20px);
  width: 200px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);  
}

.SignUpRegButton {
  transform: translateX(60px);
}


.img1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(43.33% - 1em);
  height: 100%;
  border-color: transparent;
}


